*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
header{
  display: flex;
  width: 90%;
  margin: auto;
  height: auto;
  align-items: center;
}
html, body{
  height: 100%;
  overflow: hidden;
}
#container{
  min-height: 100%;
  min-height:100%;
	display:block;
	position:relative
}
.menu{
	width:40px;
	height:40px;
	display:block;
	position:relative
}
.list,.intro{
	height:100%;
	top:0;
	display:flex;
	position:fixed;
	align-items:center;
	flex-flow:column wrap;
	justify-content:center;
	z-index:-1;
	transition:all .75s ease
}
.list span{
	background:#fff;
	width:100px;
	margin:5px 0;
	padding:10px 0;
	text-align:center;
	border-radius:4px
}
.list{
    background:#26d07c;
    width:120px;
    left:-120px;
    opacity:0
}
.intro{
	width:100%;
	padding:0 8px;
	left:0;
	text-align:center
}
.btn{
	background:#000;
	width:40px;
	height:40px;
	top:10px;
	left:10px;
	display:block;
	position:absolute;
	border-radius:50%
}
.btn:before,
.btn:after{
	background:#fff;
	width:20px;
	height:2px;
	left:10px;
	display:block;
	position:absolute;
	content:"";
	transition:all .75s ease
}
.btn:before{top:16px}
.btn:after{bottom:16px}
.menu:focus-within .list{left:0;opacity:1}
.menu:focus-within .intro{width:calc(100% - 120px);left:120px}
.menu:focus-within .btn:before{transform:rotate(45deg) translate(2px,2px)}
.menu:focus-within .btn:after{transform:rotate(-45deg) translate(2px,-2px)}

#main{
  overflow: auto;
  padding-bottom: 100px;
}
.logo-container, .cart, .nav-links{
  display: flex;
}
.logo-container{
  padding-left: 40px;
  flex: 1;
}
.logo{
  padding: 10px 0px 0px 0px;
  font-weight: 400;
  font-size: 32px;
  margin: 5px;
}
nav{
  flex: 2;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
}
.nav-link{
  font-weight: #5f5f79;
  font-size: 24px;
  text-decoration: none;
}
.search{
  flex: 1;
  justify-content: flex-end;
}
img{
  width: 80px;
  height: auto;
}
.grid{
  display: grid;
}
.button{
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 80%;
}
.button1{
  background-color: white;
  color: black;
  border: 2px solid plum;
}
.button1:hover{
  background-color: magenta;
  color: white;
}
#footer{
  background-color: #000;
  height: 80px;
  position: relative;
  margin-top: -80px;
  width: 100%;
}
@media screen and (max-width: 1024px){
  img{
      width: 56px;
      height: auto;
  }
  .icon{
      width: 80px;
      height: auto;
  }
  .grid{
      display: grid;
  }
  p{
      font-weight: 560;
      font-size: 18px;
  }
  .logo{ 
      padding-top: 10px;
      font-weight: 200;
      font-size: 32px;
      margin: 5px;
  }
  .nav-link{
      font-weight: #5f5f79;
      font-size: 24px;
      text-decoration: none;
  }
  .logo-container, .cart, .nav-links{
      display: flex;
  }
  .logo-container{
      flex: 1;
  }
}
